# 忽略所有文件
*

# 取消忽略目录（要写）
!*/

# 取消忽略特定文件类型
!**/*.md
!**/*.js
!**/*.html
!**/*.css
!**/*.vue
!**/*.json
!**/*.ico
!**/.gitignore

package-lock.json
dist/**
dist-vue/**
dist-electron/**
dist-installer/**
node_modules/**
temp.md